.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

button {
  padding:0.3em 1.2em;
  margin:0.3em 0.3em 0.3em 0.3em;
  border-radius:2em;
  box-sizing: border-box;
  text-decoration:none;
  font-weight:300;
  color:#FFFFFF;
  background-color:#898876;
  text-align:center;
  transition: all 0.2s;
}

button:hover {
  background-color: #000;
  color: #fff;
}

.logout a:hover {
  background-color: #000;
  color: #fff;
}
.login a {
  padding:0.3em 1.2em;
  margin:0.3em 0.3em 0.3em 0.3em;
  border-radius:2em;
  box-sizing: border-box;
  text-decoration:none;
  font-weight:300;
  color:#222222;
  background-color:#8A676A;
  text-align:center;
  transition: all 0.2s;
}
.logout a {
  padding:0.3em 1.2em;
  margin:0.3em 0.3em 0.3em 0.3em;
  border-radius:2em;
  box-sizing: border-box;
  text-decoration:none;
  font-weight:300;
  color:#222222;
  background-color:#8A676A;
  text-align:center;
  transition: all 0.2s;
}

.link-logo {
  font-size: 2em;
  padding:0.2em 1.2em;
  margin: 0.3em 0.3em 0.3em 0.3em;
  border-radius:0.5em;
  box-sizing: border-box;
  text-decoration:none;
  font-weight:300;
  color:#222222;
  background-color:#898876;
  text-align:center;
  transition: all 0.2s;
}
html {
  font-size: 16px;
  background-color: #414C59;
  list-style-type: none;
  font-family: 'Montserrat', sans-serif;
  background-image: url('https://images.pexels.com/photos/1183021/pexels-photo-1183021.jpeg?auto=compress&amp;cs=tinysrgb&amp;dpr=3&amp;h=750&amp;w=1260');
  height: 100%; 
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  letter-spacing: 2px;
}

h2 {
  text-align: center;
  padding: 1em;
  font-size: 2em;
}

.todo-list {
  display: flex; 
  flex-direction: column;
}

li {
  display: inline-flex;
  justify-content: center;
}


ul {
  list-style-type: none;
}

nav {
  display: inline;
  margin-bottom: 1em;
}
.nav-wrapper {
  width: 100%;
  display: inline-flex;
  margin-bottom: 2.5em;
  justify-content: space-between;
}



/* .right {
  float: right;
} */

.card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  transition: 0.3s;
  border-radius: 5px;
  background-color: rgb(154, 166, 176, 0.6);
  margin: 1em 1em;
}

.todo-list1 {
  align-items: center;
  justify-content: space-between;
  background-color: #F4F5F2;
  opacity: 1.2;
  margin: 0.5em;
  padding: 0.3em;
}

.span {
  margin-left: 5px;
}

.card:hover {
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
}

/* keeps the card from being too large on large screens */
@media screen and (min-width: 475px) {
  .card {
    width:50%;
    align-self:center;
  }
  
}

.todos {
  display: flex;
  justify-content: flex-end;
}
.signed-out-message {
  padding: 1.25em;
}

input {
  margin: 1.05em;
}

/* landing page */

.container-landing {
  text-align: center;
  display: flex;
  justify-content: center;
}

.landing-content {
  background-color: rgb(154, 166, 176, 0.6);
  color: #f4f5f2;
  width: 60%;
  border-radius: 5px;
}
.landing-content h4 {
  font-size: 1.25em;
}

